.picbox1{
    width: 600px;
    height: 300px;
}
.textside1{
    margin-top: 100px;
    width: 600px;
    height: 200px;
    float: right;
    font-size: 20px;
    font-stretch: narrower;
    color: green;
    /* background-color:rgb(152, 243, 247); */
}
.picbox2{
    width: 600px;
    height: 300px;
    float: right;
}
.textside2{

    margin-top: 150px;
    width: 600px;
    height: 200px;
    float: left;
    font-size: 20px;
    font-stretch: narrower;
    color: green;
    /* background-color:rgb(152, 243, 247); */
    
}
.both{
    width: 80px;
    margin:auto;
    margin-top: 80px;
}
.button{
    background-color: green;
    width: 80px;
    height: 50px;
    
    font-size: 15px;
     border-radius: 9px;
     box-shadow: 0 5px 5px green;
     
}
body{
 background-color:rgb(152, 243, 247); 
}


